<nav>
    <% if user_signed_in? %>
      <%= link_to "Accueil", root_path %>
      <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Accueil", root_path %>
    <% end %>
</nav>
